.container {
  width: 100%;
  height: 150vh;
  position: relative;
  color: #fff;
}

.container:before {
  content: "";
  background-color: #2aa7d8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.second-container {
  max-width: 750px;
  height: 750px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.main-info {
  width: 100%;
  margin: 1rem auto;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

p {
  font-size: 1.7rem;
}

h1 {
  font-size: 7rem;
}

.bold {
  font-weight: 700;
}

.icon-image {
  width: 100px;
  height: 100px;
}
