.footer {
  background-color: #b8e7fa;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  font-size: 24px;
  background-color: #b8e7fa;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
}

.footer-left p {
  color: #fff;
  margin-bottom: 20px;
}

.footer-right .footer-links li {
  display: inline-block;
  margin-right: 15px;
}

.footer-right .footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-right .footer-links a:hover {
  color: #8d8d8d;
}

.footer-bottom {
  background-color: #6bc5e9;
  text-align: center;
  padding: 10px 0;
}

.footer-bottom p {
  color: #fff;
  margin: 0;
  font-size: 14px;
}
